<h1>Bienvenido a coderchat</h1>
<h3 id="nombreChat"></h3>
<form id="formularioChat">
  <input type="text" name="mensaje" id="mensajeChat" />
  <input type="submit" value="ENVIAR" />
</form>
<div id="chat"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>