<div>
  <h1>Ahora, logueate</h1>

  <form id="loginForm">

    <label>Email</label>
    <input name="email" />

    <label>Contraseña</label>
    <input type="password" name="password" />

    <input type="submit" />

  </form>
  <p>No estas registrado? <a href="/register">registrate aqui</a></p>

  {{! <button onclick="location.href=`/api/sessions/githubSignup`">GITHUB</button> }}

</div>

<script src="/js/login.js"></script>