<div>
  <h1>Registrate</h1>

  <form id="registerForm">

    <label>Nombre</label>
    <input name="first_name" />

    <label>Apellido</label>
    <input name="last_name" />

    <label>Username</label>
    <input name="username" />

    <label>Email</label>
    <input name="email" />

    <label>Contraseña</label>
    <input type="password" name="password" />

    <input type="submit" />

  </form>
  <p>¿ya tienes una cuenta? <a href="/login">Ingrese aquí</a></p>

  <button onclick="location.href=`/api/sessions/githubSignup`">GITHUB</button>

</div>

<script src="/js/register.js"></script>